body{
    font-family:sans-serif;
}
.bottom-left {
    position: absolute;
    bottom:46%;
    left: 12%;
  }
  .border-right{
      position:absolute;
      bottom:28%;
      right:80%;
  }
  .border-right:hover{
      background:white;
      color:blue;
  }
  .content-hover:hover{
      background:blue;
      color:white;
  }
  .button:hover{
      background:rgb(27, 27, 190);
      color:white;
  }
  .highlight:hover{
      color:violet;
  }
  .btn-hover:hover{
      background-color:blue;
    color:white;

  }
  @media (min-width :700px) {
      .navbar{
        justify-content : center!important;

      }
    
  }
   .text-hover:hover{
      border-bottom: 1px solid #007aff;
      color:#007aff;
      width:80%;
  } 
  .twilight-hover:hover{
      border-bottom: 1px solid brown;
      color:brown;

  }
.sales-hover:hover{
    border-bottom: 1px solid black;
}
.btn-outline-primary:hover {
    color:  #007bff !important;
    background-color: transparent !important;
    border-color: #007bff;
}
.learn-hover:hover{
    background-color: #007aff;
    color:white;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdownTest:hover .dropdown-content {
    display: block;
  }
  
