body{
    font-family:sans-serif;
}
.bottom-left {
    position: absolute;
    bottom:46%;
    left: 12%;
  }
  .border-right{
      position:absolute;
      bottom:28%;
      right:80%;
  }
  .border-right:hover{
      background:white;
      color:#007aff;
  }
  .content-hover:hover{
      background:#007aff;
      color:white;
  }
  .button:hover{
      background:rgb(27, 27, 190);
      color:white;
  }
  .highlight:hover{
      color:violet;
  }
  .btn-hover:hover{
      background-color:#007aff;
    color:white;

  }
  @media (min-width :700px) {
      .navbar{
        justify-content : center!important;

      }
    
  }
   .text-hover:hover{
      border-bottom: 1px solid #007aff;
      color:#007aff;
      width:80%;
  } 
  .twilight-hover:hover{
      border-bottom: 1px solid brown;
      color:brown;

  }
.sales-hover:hover{
    border-bottom: 1px solid black;
}
.btn-outline-primary:hover {
    color:  #007bff !important;
    background-color: transparent !important;
    border-color: #007bff;
}
.learn-hover:hover{
    background-color: #007aff;
    color:white;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdownTest:hover .dropdown-content {
    display: block;
  }
   /* .card:hover{
    background-color: #007aff;
    color:white;
  } */
.menubar:hover{
    color:#007aff !important;
    border-bottom:3px solid #007aff !important;
}
  
/* .slider{
    height:250px;
    margin:auto;
    position:relative;
    width:90%;
    display:grid;
    place-items: center;
    overflow:hidden

}
.slide-track{
    display: flex;
    width:calc(250 px*18);
    animation:scroll 40% linear infinite;
}
.slide-track:hover{
    animation-play-state:paused;
}
@keyframes scroll{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(calc(-250px * 9));
    }
}
.slide{
    height:200px;
    width:250px;
    display:flex;
    align-items:center;
    padding:15px;
    perspective:100px;
}

img{
    width:100%;
}
img:hover{
    transform:translateZ(20px);
}
.slider::before,
.slider::after{
    background:linear-gradient(black,white);
    content:'';
    height:100%;
    position:absolute;
    width:15px;
    z-index:2;
}
.slider::before{
    left:0;
    top:0;
}
.slider::after{
    right:0;
    top:0;
    transform: rotate(180 deg);
}
/*  */
.timeline{
  width:85%;
  position:relative;
}
.content{
  margin:20px 0;
  padding:20px;
  border-radius:5px;
  position:relative;

}
@media(min-width:700px){
  .content{
    width:50%;
  }
   .content:nth-child(odd){
    float:left;
    clear:both;
    transform:translateX(-25px); 
  } 
  .content:nth-child(even){
    float:right;
    clear:both;
     transform:translateX(25px); 
  }
  .timeline::before{
    content:"";
    width:1px;
    height:100%;
    background:#809cbb;
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
  }
  .content::before{
    content:"";
    width:16px;
    height:16px;
    background:#007aff;
    position:absolute;
    top:50%;
    right:-33px;
   border-radius:50%;
  }
  .content:nth-child(even)::before{
    left:-33px;
  }
  


  .content1{
    width:50%;
  }
   .content1:nth-child(odd){
    float:left;
    clear:both;
    transform:translateX(-25px); 
  } 
  .content1:nth-child(even){
    float:right;
    clear:both;
     transform:translateX(25px); 
  }
  .timeline::before{
    content:"";
    width:1px;
    height:100%;
    /* background:#809cbb; */
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
  }
  .content1::before{
    content:"";
    width:16px;
    height:16px;
    /* background:#007aff; */
    position:absolute;
    top:50%;
    right:-33px;
   border-radius:50%;
  }
  .content1:nth-child(even)::before{
    left:-33px;
  }
  /* .content::after{
    content:"";
    width:20px;
    height:20px;
    background:#007aff;
    position:absolute;
    top:50%;
    right:-8px;
    transform:translateY(-50%) rotate(45deg);
  } */
}
.rotate:hover {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1000deg);
  }
}



