
body{
  font-family:sans-serif;
}
 /* :not(.fa .fab){
  font-family:sans-serif !important;
}  */
.bottom-left {
    position: absolute;
    bottom:50%;
    left: 12%;
    font-size:55px;
  }
  .bottomleft{
    position: absolute;
    bottom:40%;
    left: 12%;
    font-size:55px;
  }
  .border-right{
      position:absolute;
      bottom:29%;
      right:77%;
  }
  .border-right:hover{
      background:white !important;
      color:#007aff !important;
      border: white;
  }
  .content-hover:hover{
      background:#007aff;
      color:white;
  }
  .button:hover{
      background:#007aff;
      color: white !important;
      border:#007aff;
  }
  .highlight:hover{
      color:violet;
  }
  .btn-hover:hover{
      background-color:#007aff;
    color:white;

  }
  @media (min-width :700px) {
      .navbar{
        justify-content : center!important;

      }
    
  }
   .text-hover:hover{
      color:#007aff!important;
      border-bottom: 1px solid #007aff;
      /* transform: translateX(-100px); */
      width:fit-content;
  } 
  .twilight-hover:hover{
      border-bottom: 1px solid brown;
      color:brown;

  }
.sales-hover:hover{
    border-bottom: 1px solid grey;
    width:fit-content;
}
.btn-outline-primary:hover {
    color:  #007bff !important;
    background-color: transparent !important;
    border-color: #007bff;
}
.learn-hover:hover{
    background-color: #007aff;
    color:white;
}


.dropdown-content {
    display: none;
    position: absolute;
     background-color:white; 
   min-width:200px; 
   padding-left:1px;
   border:none;
   border-bottom: 3px solid #007aff ;
   
  }
  
  .dropdown-content a {
    color: black;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
      background-color: #f1f1f1;
  }
  
  .dropdownTest:hover .dropdown-content {
    display: block;
  }
  
  
.menubar:hover{
    color:#007aff !important;
    border-bottom:3px solid #007aff !important;
}
  

.timeline{
  width:85%;
  position:relative;
}
.content{
  margin:20px 0;
  padding:20px;
  border-radius:5px;
  position:relative;

}
@media(min-width:700px){
  .content{
    width:50%;
  }
   .content:nth-child(odd){
    float:left;
    clear:both;
    transform:translateX(-25px); 
  } 
  .content:nth-child(even){
    float:right;
    clear:both;
     transform:translateX(25px); 
  }
  .timeline::before{
    content:"";
    width:1px;
    height:100%;
    background:#809cbb;
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
  }
  .content::before{
    content:"";
    width:16px;
    height:16px;
    background:#007aff;
    position:absolute;
    top:50%;
    right:-33px;
   border-radius:50%;
  }
  .content:nth-child(even)::before{
    left:-33px;
  }
  .card:hover{
    transform: translateY(5px);
  }


  .content1{
    width:50%;
  }
   .content1:nth-child(odd){
    float:left;
    clear:both;
    transform:translateX(-25px); 
  } 
  .content1:nth-child(even){
    float:right;
    clear:both;
     transform:translateX(25px); 
  }
  .timeline::before{
    content:"";
    width:1px;
    height:100%;
    /* background:#809cbb; */
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
  }
  .content1::before{
    content:"";
    width:16px;
    height:16px;
    /* background:#007aff; */
    position:absolute;
    top:50%;
    right:-33px;
   border-radius:50%;
  }
  .content1:nth-child(even)::before{
    left:-33px;
  }
  /* .content::after{
    content:"";
    width:20px;
    height:20px;
    background:#007aff;
    position:absolute;
    top:50%;
    right:-8px;
    transform:translateY(-50%) rotate(45deg);
  } */
}
.rotate:hover {
  animation: rotation 8s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(-10000deg);
  }
  to {
    transform: rotate(10000 deg);
  }
}
.arrow:hover{
  background-color: #007bff;
  color:white;
  border-color: #007bff;
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 400px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color:#007aff;
  color: white;
  transform: rotateY(180deg);
}
.dropdown-item:focus, .dropdown-item:hover{
  background: none!important;
  padding: 0px!important;
  margin: 10px !important;
  width:fit-content;

}
.dropdown-item, .dropdown-item{
  background: none!important;
  padding: 0px!important;
  margin: 10px !important;
  width:fit-content;

}
.card-footer{
  background: none;
}
.card-footer:hover{
  background: #007aff;
  color: white !important;;
}
#learn:hover{
  color: white !important;;
}
.patch:hover{
  color:rgb(50, 47, 194) !important;
}
.techcard{
   border:none;
   border-radius:2%; 
}
.techblue:hover{
  background: #007aff;
  color:white;
  /* background-image: url('images/dotwhite.png');
  background-repeat: no-repeat;
  display:block; */
}
/* .techbluee{
  background-image: url('images/dot-net-new.png');
  display:none; */

.btn-light{
  background-color: none;
  border-color:none;
}
.btn-danger {
  color: #fff;
  background-color: #e88791;
  border:none;

}
.carvel:hover{
  color:#007aff;
}

/* .item {
  font-family: Font Awesome 5 Brands !important;
} */
 .case{
  border-bottom: none;
  border-top: none;
}
.vl{
  border-left: 3px solid rgb(245, 158, 158);
  height: 180px;
}
.wrapper{
  display:inline-flex;
}
.wrapper .icon{
   margin:0 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: relative;
   z-index: 0;
   cursor:pointer;
}
.wrapper .icon span{
  position: relative;
  height:60px;
  width:60px;
  padding-left:20px;
  display: block;
  background:white;
  border:grey;
  border-radius: 50%;
  
  
}
.wrapper .icon span i{
  font-size:20px;
  padding-top:20px;
  
}
.wrapper .icon .tool{ /* fb button */
  position:absolute;
  font-size:15px;
  font:bold;
  padding:10px 20px;
  border-radius:10px;
  box-shadow: 0 10px 10px rgba(0,0,0,0,1);
  opacity:0;
  pointer-events: none;
  transition:all 0.4s cubic-beizer(0.68,-0.55,0.265,1.55);
}
.wrapper .icon:hover .tool{/* above tooltip*/
  top:-55px;
  opacity: 1;
  pointer-events: auto;
  
}
.wrapper .icon .tool:before{   /*fb tooltip*/
  position: absolute;
   content:"";
  height:15px;
  width:15px;
   background:#007aff;
  bottom:-8px;
  left:50%;
  transform: translateX(-50%) rotate(45deg);

}

.wrapper .icon:hover span,
.wrapper .icon:hover .tool{
  /* text-shadow:0px -1px 0px rgba(0,0,0,0,4); */
  color:white !important;
}
  .wrapper .facebook:hover span,
 .wrapper .facebook:hover .tool,
 .wrapper .icon:hover .tool,
 .wrapper .icon:hover span i{
/* .wrapper .facebook:hover .tool:before{ */
   background:#007aff;
  color:white !important;
}
.wrapper .icon span i:hover{
  color: white !important;
 
}
 .wrapper .twitter:hover span,
 .wrapper .icon:hover span i{
/* .wrapper .twitter:hover .tool,
.wrapper .icon:hover .tool, */

/* .wrapper .twitter:hover .tool:before{ */
  background:#007aff;
  color:white !important; 
  height:60px;
  
}
.wrapper .instagram:hover span,
.wrapper .instagram:hover .tool,
.wrapper .icon:hover .tool,
.wrapper .icon:hover span i,
.wrapper .instagram:hover .tool:before{
  background:#007aff;
  color:white !important;
  
}
.wrapper .linkedin:hover span,
.wrapper .linkedin:hover .tool,
.wrapper .icon:hover .tool,
.wrapper .icon:hover span i,
.wrapper .linkedin:hover .tool:before{
  background:#007aff;
  color:white !important;
}
.bg-image{
  background-image: url("./backimage.png");
  background-repeat: no-repeat;
}
.image-fit{
  object-fit: cover;
  height:50px;
}
.blog-hover:hover{
  color:#007bff !important;
  cursor:pointer;
}
.div-hover:hover{
  background-color: #007bff !important;
  border-radius: 3%;
}
.divide-hover:hover{
  color:white !important;
}
.hiring-hover:hover{
  color:#e88791 !important;
}